/*Homepage Content*/

body {
	/*background-color: black;*/
	font-family: "HelveticaNeue-Light", sans-serif;
	background-repeat: no-repeat;
	background-size:cover;
	height: 100%;
    margin: 0;

}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right:0;
    background-color: #e62b1e;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 30px;
    color: white;
    display: block;
    transition: 0.3s;
    text-align: right;
    margin-right: 50px;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 32px;
    right: 0px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

h1 {
	margin-top: 75px;
	font-size: 50px;
	font-family: "HelveticaNeue", sans-serif;
	font-weight: 300;
	/*color: #e62b1e;*/
}

#tedx {
	color: #e62b1e;
}

.menubutton span{
	position:absolute;
	top:40px;
	right:55px;
	color: white;
}

#icon {
	position:absolute;
	top:7.5px;
	right:31px;
}

#logo {
	margin-top:225px;
}

html {
    height: 100%;
    margin: 0;
}

.bg {
    /* The image used */
    background-image: url("occ.JPG");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#navtext {
	margin-top: 20px;
}

.AboutTEDx p {
	margin: 35px 80px 35px 80px;
	font-size: 22px;
	color: #5c5e60;
	line-height: 1.6;
}

.AboutTEDx {
	padding-top:20px;
	padding-bottom:20px;
	background-color: #e0e0e0;
}

.aboutbg {
	background-image: url("ted2013.jpg");
	height:45%;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	padding-bottom: 40px;
}

.footer {
	background: black;
}

.footer p {
	color: gray;
	margin-left: 60px;
	padding-bottom:45px;
}

#footerlogo {
	border: none;
	background: none;
	cursor: pointer;
	padding-top:45px;
	padding-bottom:45px;
}

.footer a {
	float: right;
	border: none;
	background: none;
	cursor: pointer;
	padding-top:45px;
	padding-bottom:45px;
	padding-right: 50px;
	font-size: 25px;
	width: 25px;
	text-align: left;
	text-decoration: none;
}

.aboutbg h1 {
	/*margin-top: 75px;*/
	font-size: 60px;
	font-family: "HelveticaNeue", sans-serif;
	font-weight: 300;
	color:white;
	padding-top:40px;
	border:none;
	position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.aboutmenubutton span{
	position: absolute;
	top:40px;
	right:55px;
	color: white;
}

#dtech {
	color: #e8631b;
}

.Aboutdtech {
	background-color: #cccccc;
	padding-top:20px;
	padding-bottom: 40px;
}

#homebutton {
	border: none;
	background: none;
	cursor: pointer;
	position: absolute;
	top: 50px;
	left: 0;
}

.Aboutdtech p {
	margin: 35px 80px 35px 80px;
	font-size: 22px;
	line-height: 1.6;
	color:#4d4f51;
}

.abouttedxdths {
	padding-top: 20px;
	padding-bottom: 20px;
}

.abouttedxdths p {
	margin: 35px 80px 35px 80px;
	font-size: 22px;
	line-height: 1.6;
	color:#4d4f51;
}

.mttbg {
	background-image: url("teamphoto.jpg");
	height:45%;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	padding-bottom: 40px;
	padding-top: 20px;
}

.mttbg h1 {
	font-size: 60px;
	font-family: "HelveticaNeue", sans-serif;
	font-weight: 300;
	color:white;
	padding-top:40px;
	border:none;
	position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bod {
	padding-bottom: 40px;
}

.bod img {
	position: center;
	border-radius: 50%;
	border: 2px solid black;
	margin-left: 20%;
	margin-bottom: 30px;
	margin-right: 20px;
	float: left;
	display: inline-block;
}

.bod #nametext {
	/*float: left;*/
	line-height: 1.15em;
	padding-right: 25%;
}

.bod h2 {
	font-size: 35px;
}

.bod h3 {
	font-size: 25px;
	font-weight: 500;
}

.bod p {
	font-size: 18px;
	line-height: 1.2em;
}

.execteam {
	background-color: #e0e0e0;
	padding-top: 10px;
	padding-bottom: 40px;
}

.execteam img {
	position: center;
	border-radius: 50%;
	border: 2px solid black;
	margin-left: 20%;
	margin-bottom: 30px;
	margin-right: 20px;
	float: left;
	display: inline-block;
}

.execteam #nametext {
	line-height: 1.15em;
	padding-right: 25%;
}

.execteam h2 {
	font-size: 35px;
}

.execteam h3 {
	font-size: 25px;
	font-weight: 500;
}

.execteam p {
	font-size: 18px;
	line-height: 1.2em;
}

.member {
	background-color: #cccccc;
	padding-top: 10px;
	padding-bottom: 60px;
	column-count: 3;
	column-fill: balance;
}

.membertext {
	font-size: 18px;
	padding-left: 36%;
}

.member h1 {
	column-span: all;
}

/*Icons*/
.fa {
  /*padding: 20px;*/
  font-size: 80px;
  width: 80px;
  text-align: left;
  text-decoration: none;
  border-radius: 50%;
  /*margin: 5px 2px;*/
}

.fa:hover {
	color: #e62b1e;
	transition-duration: 0.25s;
    /*opacity: 0.7;*/
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  /*background: #007bb5;*/
  background: white;
  color: black;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  /*background: #125688;*/
  padding-right: 30px;
  background: black;
  color: white;
}

.fa-flickr {
  background: #f40083;
  color: white;
}

/*Speakers*/
.speakersbg {
	background-image: url("kemi.jpg");
	height: 45%;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	padding-bottom: 40px;
	padding-top: 20px;
}

.speakersbg h1 {
	font-size: 60px;
	font-family: "HelveticaNeue", sans-serif;
	font-weight: 300;
	color:white;
	padding-top:40px;
	border:none;
	position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.speakers {
	padding-bottom: 40px;
}

.speakers img {
	position: center;
	/*border-radius: 50%;*/
	border: 4px solid black;
	margin-left: 20%;
	margin-bottom: 30px;
	margin-right: 20px;
	float: left;
	display: inline-block;
	box-shadow: 10px 10px #888888;
}

.speakers #nametext {
	/*float: left;*/
	line-height: 1.15em;
	padding-right: 25%;
}

.speakers h2 {
	font-size: 35px;
}

.speakers h3 {
	font-size: 25px;
	font-weight: 500;
}

.speakers p {
	font-size: 16px;
	line-height: 1.2em;
	color: #575859;
}

.speakers a:link {
	color:blue;
}

.speakers a:visited {
	color:blue;
}
.speakers a:hover {
	color:#e62b1e;
}

/*Contact*/
.contactbg {
	background-image: url("contact1.jpg");
	height: 45%;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	padding-bottom: 40px;
	padding-top: 20px;
}

.contactbg h1 {
	font-size: 60px;
	font-family: "HelveticaNeue", sans-serif;
	font-weight: 300;
	color:white;
	padding-top:40px;
	border:none;
	position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contactus {
	margin-left: 50px;
	padding-bottom: 40px;
	padding-top:40px;
}
.contactus a {
	color: #e62b1e;
}
